body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: lavender;
}

#navbar {
  display: flex;
  border-radius: 10px;
  border-style: solid;
  outline: 1px solid black;
  border-color: black;
  align-items: center;
  justify-content: space-around;
}

#login {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.prompt {
  background-color: white;
  padding: 10px;
  outline: 1px solid black;
  border-radius: 10px;
  height: 25vh;
  width: 25vh;
  text-align: center;
}

.alert {
  font-weight: 550;
  font-size: 20px;
}
