* {
  margin: 0;
  padding: 0;
}

.header-container {
  background: grey;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  font-size: 35px;
}

#user-info {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin-top: 25px;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100vw;
}

.container.info{
  display: flex;
  list-style-type: none;
}

.info {
  display: flex;
}
