<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Spotify Playlist Generator</title>
</head>

<body>
  <main id="hero">

    <div class="container login">
      <div class="container modal">
        <div class="container header">
          <h1 class="header">Spotify Playlist Generator</h1>
        </div>

        <div class="container button">
          <button id="login"> LOGIN </button>
        </div>
      </div>
    </div>

    <div class="container features">

      <div class="container feature new">
        <img src="playlist-svgrepo-com.svg" alt="img">
        <div class="container description">
          <h3>Generate Playlists</h3>
          <p>Using this app, you can use it to generate new playlists based on your existing playlists!</p>
        </div>
      </div>

      <div class="container feature random">
        <img src="shuffle-1-svgrepo-com.svg" alt="img">
        <div class="container description">
          <h3>Create Random Playlists</h3>
          <p>Using this app, you can use it to generate actually random iterations of your existing playlists!</p>
        </div>
      </div>

      <div class="container feature stats">
        <img src="stats-1371-svgrepo-com.svg" alt="img">
        <div class="container description">
          <h3>View Playlist Stats</h3>
          <p>Using this app, you can use it to view your playlists stats!</p>
        </div>
      </div>
    </div>

  </main>
  <script>
    document.getElementById("login").addEventListener('click', () => {
      window.location.href = "/login";
    })
  </script>

</body>

</html>
